<form action="/articles" method="post">
    <p>Title: <input type="text" name="title"></p>
    <p>Content:</p>
    <textarea type="text" name="content">
    </textarea>
    <input type="submit">
</form>